* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(to top right,#3effd4,#00b4ff,#3262ff); /* Blue background */
    /* padding: 10px; */
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    width: 900px;
    max-width: 100%;
    margin: 30px;
    height: 80vh;
    flex-direction: row;
}

/* Form Section */
.form-section {
    padding: 40px;
    padding-bottom: 100px;
    width: 50%;
}

.form-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.form-section p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

/* Special styles for profile picture */
.form-group input[type="file"] {
    padding: 3px;
}

.form-group input[type="number"] {
    width: 100%;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #003bff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #002ccc;
}

/* Illustration Section */
.illustration-section {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: sticky;
    top: 0;
}

.illustration-section img {
    max-width: 100%;
    height: 80%;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .form-section, .illustration-section {
        width: 100%;
        padding: 20px;
    }

    .illustration-section img {
        max-height: 300px;
    }
}

@media (max-width: 480px) {
    .form-section h2 {
        font-size: 20px;
    }

    .form-section p {
        font-size: 12px;
    }

    .form-group label, .form-group input, .form-group select {
        font-size: 12px;
    }

    .submit-btn {
        font-size: 14px;
        padding: 10px;
    }
    .illustration-section{
        display: none;
    }
    .illustration-section img{
        display: none;

    }
}