@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Solid:wght@100;300;400;900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --bg-color: #12364a;
    --btn-color: #f7ad19;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    z-index: 1;
    display: flex;
    height: 5.5rem;
    width: 100%;
    /* border-bottom: 2px solid rgb(0, 191, 255); */
    align-items: center;
    padding: 0px 0.95rem;
    background-color: var(--bg-color);

    .center {
        position: absolute;
        left: 44%;
        font-size: 170%;
        cursor: pointer;

        h1 {
            color: white;
        }

        span {
            font-family: "Satisfy", cursive;
            color: transparent;
            background: linear-gradient(to top left, #ffb703, #6fcae3);
            background-clip: text;

        }

        ;
    }

    .hamburger {
        border: none;
        cursor: pointer;
        /* display: none; */
        background-color: initial;
        position: relative;
        /* left: 1rem; */

    }

    .left-items {
        margin-right: auto;
        position: relative;
        left: 1.4rem;
        display: flex;
        list-style: none;
        /* gap: 1.563rem; */
        gap: clamp(1rem, 2vw, 2.563rem);
        align-items: center;

        li {
            display: inline-block;
            position: relative;
            transition: 500ms;

            a {
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 600;
                color: white;

            }
        }

    }

    .right-items {
        display: flex;
        position: relative;
        margin-left: auto;
        right: 2rem;
        /* gap: 1.55rem; */
        gap: 1vw;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            display: inline-block;
            position: relative;
        }

        .other {

            transition: 500ms;

            a {
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 600;
                /* color: black; */
                color: white;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    width: 0;
                    height: 2px;
                    background-color: var(--btn-color);
                    transition: width 0.3s ease-out;
                }

                &:hover::after {
                    width: 42%;
                }
            }



        }

        .login-btn {
            border: none;
            height: 2.5rem;
            width: 6rem;
            background-color: initial;
            border: 2px solid #F7AD19;
            color: white;
            border-radius: 1.25rem;
            font-size: 1.25rem;
            font-weight: 600;
            transition: 500ms;
            cursor: pointer;

            /* box-shadow: 2px 1px 2px 1px #BAB68C; */
            &:hover {
                /* transform: scale(1.09); */
                background-color: #F7AD19;

                color: black;
            }
        }
    }
}

nav .left-items li ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--btn-color);
    transition: width 0.3s ease-out;
}

nav .left-items li :hover::after {
    width: 100%;
}

@media (min-width:425p) and (max-width:768px) {
    nav .hamburger {
        display: block;
        margin: 0 7px;

    }

    nav .left-items {
        display: none;
    }

    nav .center {
        left: 10%;
    }
}

@media (max-width: 480px) {

    nav .left-items {
        display: none;
    }

    nav .right-items {
        display: none;
        /*Hide items for mobile*/
    }

    nav .hamburger {
        position: absolute;
        right: 2rem;
    }

    nav .center h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    nav .center h1 {
        font-size: 2.2rem;
    }

    nav .login-btn {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }

    nav .left-items .hamburger {
        display: block;
        /* Show hamburger on small screens */
    }
}

.sidebar {
    display: none;
    color: black;
    z-index: 1;
    height: 100vh;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 0;
    background-color: white;
    /* border: 2px solid rgb(219, 219, 219); */
    box-shadow: 2px 0 1px 0px rgb(219, 219, 219);
    animation: sideBar 0.3s ease-in forwards;

    .sidebar-header {
        display: flex;
        /* align-items: center; */
        height: 6rem;

        img {
            align-self: center;
            position: absolute;
            right: 0.34rem;
            top: 0;
            height: 5rem;
            width: 16rem;
        }

        button {
            cursor: pointer;
            position: absolute;
            border: none;
            background-color: initial;
            left: 1rem;
            top: 1.8rem;
        }
    }

    .sidebar-links {
        position: absolute;
        width: 100%;
        padding-left: 5%;

        ul li {
            display: flex;
            align-items: center;
            margin-top: 0.62rem;
            /* opacity: 0.8; */
            transition: 0.3s;
            width: 95%;
            height: 1.875rem;
            padding-left: 0.43rem;
            border-radius: 0.313rem;

            svg {
                position: relative;
                color: rgb(72, 71, 71);
                right: 0.313rem;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(216, 216, 216, 0.282);
            }

            a {
                text-decoration: none;
                font-size: 120%;
                color: black;
                width: 100%;
                font-weight: 500;

                /* margin-left: 35px; */
                select {
                    background-color: inherit;
                    cursor: pointer;
                    border: none;
                    width: 100%;
                    font-size: 100%;
                    font-weight: 500;
                    height: 1.875rem;
                }
            }
        }
    }

    .sidebar-anchor {
        margin-top: 2rem;
        justify-content: flex-end;
        position: absolute;
        z-index: inherit;

        a {
            text-decoration: none;
            color: blue;
            margin: 0.635rem 0.313rem;
            font-size: 90%;
        }
    }
}

@keyframes sideBar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes close-sidebar {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.hero-section {
    position: relative;
    width: 100%;
    min-height: 40.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: white;
    background: url(HeroSectionImg.jpg) no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-position: center;

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 55%;

        .hero-heading {
            font-size: 3vw;
        }

        .hero-para {
            text-align: center;
            width: fit-content;
            flex-wrap: wrap;
            margin: 1rem 0;
        }

        .search-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: initial;
            border-radius: 50px;
            max-width: 600px;
            width: 50%;
            height: 2rem;
            margin: 0 auto;
            outline: none;

            input[type="text"] {
                height: 100%;
                width: 40%;
                /* height: 2rem; */
                flex: 1;
                padding: 15px 20px;
                border: none;
                border-radius: 50px 0 0 50px;
                font-size: 1rem;

                &:focus {
                    outline: none;
                }
            }

            input[type="submit"] {
                height: 100%;
                padding: 1.6%;
                border: none;
                border-radius: 0 50px 50px 0;
                /* background-color: #6fcae3; */
                background-color: #F7AD19;
                color: black;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
        }
    }
}

.why-choose-us {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    /* height: 80%; */
    height: 31.1rem;
    width: 90%;
    padding: 3rem;

    .head-des {
        display: flex;
        justify-content: center;
        column-gap: 10%;
        width: 100%;

        .rightBox {
            width: 60%;

            h1 {
                font-size: 330%;
                margin-bottom: 10px;

                /* margin-: 10px; */
                span {
                    color: transparent;
                    background: linear-gradient(to top, red 5%, orange, rgb(255, 255, 0));
                    background-clip: text;
                    font-family: "Satisfy", cursive;

                }
            }

            p {
                line-height: 1.4;
            }
        }

        .leftBox img {
            /* margin-top: 20px; */
            margin-left: 20px;
            width: 35rem;
            height: 20rem;
            aspect-ratio: 4/3;
        }
    }

    .number-container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        gap: 4%;
        margin-top: 2rem;

        .item {
            width: fit-content;
            padding: 10px;
            border-radius: 5px;

            h1 {
                /* padding-left: 20%; */
                font-size: 200%;
                font-weight: 600;
                text-align: center;
            }

            p {
                font-weight: 400;
                font-size: 150%;
            }

        }
    }

}

