*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}
body{
    /* background-color: rgb(232, 229, 226); */
    height: 100vh;
    /* width: 100vw; */
}
nav{    
    display: flex;
    height: 6rem;
    width: 100%;
    border-bottom: 2px solid rgb(0, 191, 255);
    align-items: center;
    padding: 0px 15px;
    z-index: 10;
    /* justify-content: flex-end; */
    /* background: linear-gradient(to left,rgb(240, 220, 205)20%,rgb(0, 191, 255)); */
}

nav  img{
    height: 90px;
    margin-right: 28rem;
    width: 200px;
}
nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    gap: 30px;
    margin-right: 20px;
    align-items: center;
    background-color: white;


}
nav ul li{
    transition: 0.3s;
    &:hover{
        transform: translateY(-5px);
    }
    &:last-child{
        margin-right: 30px;
    }
   &:nth-child(5){
    border-bottom: 2px solid black;
    &:active{
        transform: scale(0.9);
    }
   }

}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: 500;
    
}

nav button:first-child{
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: inherit;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px;
}

.login{
    height: 50%;
    width: 30%;
    margin-left: -30px;
    border-radius: 50px;
    padding-top:8px;
    font-weight: 500;
    text-align: center;
    font-size: 150%;
    transition: 0.2s;
    background-color:rgb(111, 202, 227);
    /* background-color: white; */
    cursor: pointer;
    &:hover{
        transform: scale(1.09);
    }
    &:active{
        transform: scale(0.9);
    }
    
    }

.form-popup{
    display: none;
    /* display: block; */
    /* justify-content: space-evenly; */
    align-items: center;
    margin-top: -5%;
    margin-left: 33%;
    background-color: white;
    position:fixed;
    /* position: absolute; */
    /* border: 2px solid white; */
    padding: 35px 35px 20px 35px;
    z-index: 9;
    height: 88%;
    width: 35%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(25, 25, 25, 0.632);
    animation: zoomanimation 0.3s ease-in-out;
    overflow: auto;
    a{
        color: blue;    
        cursor: pointer;
        text-decoration: solid;
    }
    p{
        margin-bottom: 20px;
        display: inline;
    }
}
@keyframes zoomanimation{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.form-container{
    display: block;
    padding-right: 20px;

}
.form-popup button{
    background-color: inherit;
    border: none;
    /* margin-top: 5px; */
    /* margin-left: 15px; */
    cursor: pointer;
    display: flex;
    margin-left: 90%;
    /* margin-bottom: 20    px; */
}

.form-popup input{
    /* color:white; */
    font-size: 100%;
    font-weight: 500;
    line-height: 1.4;
    margin: 4px;
    width: 100%;
    /* height: 35px; */
    /* text-align: center; */
    margin-bottom: 30px;
    &::placeholder{
        color:black;

    }
    &:focus{
        color:black;
    }
}
.form-popup label{
    display: inline-flex;
    color: black;
    margin-left: 3px;
    font-weight: 500;
    font-size: 120%;
    /* text-align: start; */


}
.form-popup select{
    width: 100%;
    /* height: 100%; */
    font-size: 110%;
}
.form-popup input[type=radio]{
    width: 100%;
    height: 20px;
}
.form-popup input[type=submit]{
    margin: 4px;
    font-weight: 600;
    font-size: 120%;
    display: inline-flex;
    width: 45%;
    /* margin-left: 7px; */
    /* text-align: center; */
    margin-left: 28%;
    margin-bottom: -20px;
    border: none;
    background-color: rgb(0, 191, 255);
    color: black;
    border-radius: 10px;
    opacity: 0.8;
    cursor:pointer;
    &:hover{
        opacity: 1;
        transform: scale(1.03);
    }
 }
.login-popup{
    display: none;
    align-items: center;
    /* margin-top: -18%; */
    margin-left: 69%;
    margin-top: 0%;
    background-color: white;
    position:fixed;
    /* position: absolute; */
    /* border: 2px solid white; */
    padding: 35px;
    /* z-index:-; */
    height:60%;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(25, 25, 25, 0.632);
    animation: loginDropdown 0.4s ease-out;
    overflow: hidden;
    
    p{
        margin-top: 20px;
        display: block;
        /* a{
            margin: 0;
        } */
    }
    a{
        font-weight: 500;
        margin: 30px 0px;
        color:blue;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }

    }
    input{
        /* color:white; */
        font-size: 100%;
        font-weight: 500;   
        line-height: 1.4;
        margin: 4px;
        width: 100%;
        /* height: 35px; */
        /* text-align: center; */
        margin-bottom: 30px;
        /* border: none; */
        &::placeholder{
            color:grey;
        }
        &:focus{
            
            color:black;

        }
    }
    label{
        display: flex;
        color: black;
        margin-left: 3px;
        font-weight: 500;
        font-size: 120%;
        /* text-align: start; */
    
    
    }
    form button{
        /* margin: 4px; */
        font-weight: 600;
        font-size: 120%;
        width: 45%;
        padding-left: 10%;
        margin-left: 29%;
        margin-bottom: 10px;
        border: none;
        background-color: rgb(0, 191, 255);
        color: black;
        border-radius: 10px;
        opacity: 0.8;
        cursor:pointer;
        &:hover{
            opacity: 1;
            transform: scale(1.03);
        }
     }
     button{
        background-color: inherit;
        border: none;
        /* margin-top: 5px; */
        /* margin-left: 15px; */
        cursor: pointer;
        display: flex;
        margin-left: 90%;
        margin-bottom: -20px;
    }
}
@keyframes loginDropdown{
    from{
        transform: translateY(-500px) scale(0);
    }
    to{
        transform: translateX(0%) scale(1);
        

    }
}
.sidebar{
    display: none;
    /* display: block; */
    background-color: rgb(246, 246, 246);
    height: 100%;
    width: 300px;
    position: fixed;
    border: 2px solid rgb(212, 212, 212);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: flex-start;
    /* margin-left: 88%; */
    margin-top: -6rem;
    z-index: 2;
    padding-left: 30px;
    animation: sideBar 0.5s ease-out;
    overflow-y:scroll;
    overflow-x: hidden;
    .anchor{
        /* display: block; */
        margin-top: 170px;
        justify-content: flex-end;
        position: absolute;
        z-index: inherit;
        a{
            text-decoration: none;
            color: blue;
            margin: 10px 5px;
        }
    }
}
.sidebar button{
    margin: 30px 0px 30px 205px;
    border:none;
    background-color: inherit;
    cursor: pointer;
    opacity: 1;
    &:hover{
        opacity: 0.5;

    }
}
.sidebar ul{
    list-style: none;
    /* border-bottom: 1px solid grey; */
    
}
.sidebar ul li{
    margin-top: 10px;
    /* opacity: 0.8; */
    transition: 0.3s;
    &:hover{
        transform: translateX(5px);
        opacity: 1;

    }
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 150%;
    color: black;
    font-weight: 500;
    /* margin-left: 20px; */
}
@keyframes sideBar {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.hero-section{
    width: 78.3rem; 
    height: 100%;
    display: flex;
    background-image: url(https://i.pinimg.com/564x/fb/e8/cc/fbe8cc877d19fbcd6d876db9e14cfc26.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.46);
    .main{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        /* justify-content: center; */
        align-items: center;
        .hero-heading{
          display: block;
           font-size: 300%;
           text-align: center;
           width: 50%;
            }
        .hero-para{
            display: block;
            padding: 20px 50px 20px 50px;    
            font-size: 100%;
            font-weight: 400;
            text-align: center;
            width: 50%;
            }
        button{
            height: 7%;
            width: 14%;
            font-size: 80%;
            font-weight: 600;
            background-color: rgb(111, 202, 227);
            border: none;
            color: white;
            text-shadow: 0px 0px 3px black;
            letter-spacing:3px ;
            margin: 10px;
            cursor: pointer;
            &:active{
                transform: scale(0.9);
            }
        }
        a{
            color: black;
            margin-top: 20px;
            font-size: 100%;
        }
        }
}
.card-container{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    margin: 50px;
    /* background-color: beige; */
    height: 100%;
    .head-des{
        align-self: flex-start;
        width: 60%;
        h1{
            font-size: 300%;
        }

    }
    .number-container{
    /* border: 2px solid black; */
        display: flex;
        margin: 40px 40px 10px 40px;
        align-self: flex-start;

            .item{
                width: fit-content;
                padding: 30px;
                border-radius: 5px;
                h1{
                    /* padding-left: 20%; */
                    font-size: 200%;
                    text-align: center;
                }
                p{
                    font-weight: 400;
                    font-size: 150%;
                }
                &:hover{
                    box-shadow: 0px 0px 5px 1px lightgrey;
                }
            }
        }
    .card-stored{
        border-radius: 20px;
    /* border: 2px solid black; */
    width: 80%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    
    .card{
        height: 80%;
        background-color: rgb(0, 191, 255);
        padding:15px ;
        transition: 0.3s;
            
        h3{
            margin: 10px 0px;
        }
       
        &:hover{
            z-index: 1;
            background-color: rgb(10, 153, 201);
            border-radius: 20px;
            transform: scale(1.1);
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.338);
        }
    }
    .card-1{
        /* border: 2px solid black; */
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .card-4{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
  }
}
.profile-container{
    display: grid;
    grid-template-columns: 350px 350px 400px ;
    grid-template-rows: 200px 200px 200px ;
    justify-content: space-around;
    gap: 30px 20px;
    /* padding: 30px 10px; */
}

.profile{
    background-color: rgb(235, 234, 234);
    width: 370px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.207);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin: 10px 0px;
    transition: 0.2s;
    &:hover{
        transform: scale(1.03);
    }
}


.profile h4,.profile h3,.profile p{
    display: inline;
    /* border: 2px solid black; */
    width: fit-content;
    margin-bottom: 50px ;
    justify-content: center;
}

.profile img{
    display: inline;
    height: 100px;
    width: 100px;
    margin-left: 50%;
    border-radius: 50%;
}
.profile button{
    margin-left: 5px;
    /* background: linear-gradient(rgb(246, 169, 115),rgb(255, 117, 18)); */
    background-color: rgb(111, 202, 227);
    border: none;
    height: 25px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 100%;
    font-weight: 500;
    transition: 0.2s;
    box-shadow: 0px 0px 4px 0px rgb(98, 97, 97);
    &:hover{
        transform: scale(1.04);
    }
}
.display-content{
    display:block;
    justify-content: center;
    z-index: 99;
    align-items: center;
    /* background-color: white; */
    height: fit-content;
    margin-top: 2% ;
    margin-left: 20%;
    width: 400px;
    position:absolute;   
    
}
.info-1,.info-2,.info-3,.info-4,.info-5,.info-6,.info-7,.info-8,.info-9{
    height: 400px;
    width: 800px;
    display: none;
    background-color: rgb(196, 195, 193);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.207);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    transition: 0.2s;
    animation: profileOpen 0.3s ease;
    img{
        display: inline;
        height: 200px;
        width: 200px;
        margin-left: 200%;
        border-radius: 50%;
    }
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
        margin-left: 95%;
    }
     button:last-child{
        margin-left: 5px;
        background: linear-gradient(to top,rgb(111, 202, 227),rgb(0, 191, 255));
        border: none;
        height: 25px;
        width: 100px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 100%;
        font-weight: 500;
        transition: 0.2s;
        &:hover{
            transform: scale(1.04);
        }
     } 
    
    .close-btn svg{
        height: 30px;
        width: 30px;
    }
}
@keyframes profileOpen {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.info-4,.info-5,.info-6{
    margin-top: 20%;
}
.info-7,.info-8,.info-9{
    margin-top: 40%;
}
.how-it-works{
    display: grid;
    grid-template-rows: auto auto auto ;
    grid-template-columns: auto ;
    margin: 50px;
    h1{
        margin: 50px;
        text-align: center;
        font-size: 300%;
        /* font-weight: 2000; */

    }
    .container{
        /* gap: 50px; */
        height: fit-content;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .item{
            /* border: 1px solid black; */
            img{
                display: block;
                margin: 20px auto;
                height:200px;
                width: 200px;
                
            }
            h3{
                text-align: center;
                font-size: 150%;
            }
        }
    }
}
